/*!////////////////////////////////////////////////
// BASE
/////////////////////////////////////////////////*/
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html,
body,
iframe,
div,
section,
header,
p,
a,
ul,
ol,
li,
article,
footer,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.rwd-table {
  margin: 1em 0;
  min-width: 300px; }
  .rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .rwd-table th {
    display: none; }
  .rwd-table td {
    display: block; }
    .rwd-table td:first-child {
      padding-top: .5em; }
    .rwd-table td:last-child {
      padding-bottom: .5em; }
    .rwd-table td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }
      @media (min-width: 480px) {
        .rwd-table td:before {
          display: none; } }
  .rwd-table th, .rwd-table td {
    text-align: left; }
    @media (min-width: 480px) {
      .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em; }
        .rwd-table th:first-child, .rwd-table td:first-child {
          padding-left: 0; }
        .rwd-table th:last-child, .rwd-table td:last-child {
          padding-right: 0; } }

/*!////////////////////////////////////////////////
// LAYOUT
/////////////////////////////////////////////////*/
.wrap {
  max-width: 1280px;
  width: 92%;
  margin: 0px auto;
  position: relative; }

.row {
  clear: both; }

@media screen and (min-width: 400px) {
  .wrap {
    width: 98%; }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-half,
  .grid-full,
  .grid-25,
  .grid-unit {
    float: left;
    width: 100%; }
    .grid-1:nth-child(n),
    .grid-2:nth-child(n),
    .grid-3:nth-child(n),
    .grid-4:nth-child(n),
    .grid-5:nth-child(n),
    .grid-6:nth-child(n),
    .grid-half:nth-child(n),
    .grid-full:nth-child(n),
    .grid-25:nth-child(n),
    .grid-unit:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-1:nth-of-type(1n),
    .grid-2:nth-of-type(1n),
    .grid-3:nth-of-type(1n),
    .grid-4:nth-of-type(1n),
    .grid-5:nth-of-type(1n),
    .grid-6:nth-of-type(1n),
    .grid-half:nth-of-type(1n),
    .grid-full:nth-of-type(1n),
    .grid-25:nth-of-type(1n),
    .grid-unit:nth-of-type(1n) {
      margin-right: 0; }
    .grid-1:last-child,
    .grid-2:last-child,
    .grid-3:last-child,
    .grid-4:last-child,
    .grid-5:last-child,
    .grid-6:last-child,
    .grid-half:last-child,
    .grid-full:last-child,
    .grid-25:last-child,
    .grid-unit:last-child {
      margin-right: 0; }

  .gallery .grid-unit,
  .grid-half {
    width: 49.2424242424%; }
    .gallery .grid-unit:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .gallery .grid-unit:nth-of-type(2n),
    .grid-half:nth-of-type(2n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-flow-opposite {
    float: right; } }
@media screen and (min-width: 640px) {
  .grid-1 {
    width: 15.404040404%; }
    .grid-1:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-1:nth-of-type(6n) {
      margin-right: 0; }
    .grid-1:last-child {
      margin-right: 0; }

  .grid-2 {
    width: 32.3232323232%; }
    .grid-2:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-2:nth-of-type(3n) {
      margin-right: 0; }
    .grid-2:last-child {
      margin-right: 0; }

  .grid-3,
  .grid-half {
    width: 49.2424242424%; }
    .grid-3:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-3:nth-of-type(2n),
    .grid-half:nth-of-type(2n) {
      margin-right: 0; }
    .grid-3:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-4 {
    width: 66.1616152593%; }
    .grid-4:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-4:nth-of-type(1.50000002n) {
      margin-right: 0; }
    .grid-4:last-child {
      margin-right: 0; }

  .grid-5 {
    width: 82.7424240402%; }
    .grid-5:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-5:nth-of-type(1.20481928n) {
      margin-right: 0; }
    .grid-5:last-child {
      margin-right: 0; }

  .grid-6,
  .grid-full {
    width: 100%; }
    .grid-6:nth-child(n),
    .grid-full:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-6:nth-of-type(1n),
    .grid-full:nth-of-type(1n) {
      margin-right: 0; }
    .grid-6:last-child,
    .grid-full:last-child {
      margin-right: 0; }

  /* If there are no margins */
  .grid-1.no-margin {
    width: 16.6666666667%; }
    .grid-1.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-1.no-margin:nth-of-type(6n) {
      margin-right: 0; }
    .grid-1.no-margin:last-child {
      margin-right: 0; }

  .grid-2.no-margin {
    width: 33.3333333333%; }
    .grid-2.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-2.no-margin:nth-of-type(3n) {
      margin-right: 0; }
    .grid-2.no-margin:last-child {
      margin-right: 0; }

  .grid-3.no-margin,
  .grid-half.no-margin {
    width: 50%; }
    .grid-3.no-margin:nth-child(n),
    .grid-half.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-3.no-margin:nth-of-type(2n),
    .grid-half.no-margin:nth-of-type(2n) {
      margin-right: 0; }
    .grid-3.no-margin:last-child,
    .grid-half.no-margin:last-child {
      margin-right: 0; }

  .grid-4.no-margin {
    width: 66.6666657778%; }
    .grid-4.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-4.no-margin:nth-of-type(1.50000002n) {
      margin-right: 0; }
    .grid-4.no-margin:last-child {
      margin-right: 0; }

  .grid-5.no-margin {
    width: 82.9999998008%; }
    .grid-5.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-5.no-margin:nth-of-type(1.20481928n) {
      margin-right: 0; }
    .grid-5.no-margin:last-child {
      margin-right: 0; }

  .grid-6.no-margin,
  .grid-full.no-margin {
    width: 100%; }
    .grid-6.no-margin:nth-child(n),
    .grid-full.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-6.no-margin:nth-of-type(1n),
    .grid-full.no-margin:nth-of-type(1n) {
      margin-right: 0; }
    .grid-6.no-margin:last-child,
    .grid-full.no-margin:last-child {
      margin-right: 0; }

  .grid-25 {
    width: 23.8636363636%; }
    .grid-25:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-25:nth-of-type(4n) {
      margin-right: 0; }
    .grid-25:last-child {
      margin-right: 0; }

  .grid-25.no-margin {
    width: 25%; }
    .grid-25.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-25.no-margin:nth-of-type(4n) {
      margin-right: 0; }
    .grid-25.no-margin:last-child {
      margin-right: 0; }

  .gallery .grid-unit {
    width: 32.3232323232%; }
    .gallery .grid-unit:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .gallery .grid-unit:nth-of-type(3n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child {
      margin-right: 0; }

  .content-pad-right {
    padding-right: 4%;
    /* Use (or don't) as necessary. */ }

  .content-pad-left {
    padding-left: 4%; } }
/*!////////////////////////////////////////////////
// THEME
/////////////////////////////////////////////////*/
h1,
h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

p,
li,
input,
blockquote {
  font-family: "PT Serif", serif; }

.button__big {
  display: inline-block;
  border: none;
  background-color: #8fcb1b;
  font-family: "Oswald", sans-serif;
  font-size: 1.625em;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 20px 12px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .button__big:hover, .button__big:focus {
    background-color: #6f9e15; }

.button {
  display: inline-block;
  border: none;
  background-color: #8fcb1b;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 20px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.button__buy:hover, .button__buy:focus {
  background-color: #6f9e15; }

.button__seats {
  background-color: #3d4045; }
  .button__seats:hover, .button__seats:focus {
    background-color: #555960; }

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
.hero {
  padding: 1.5% 0;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover; }

header[role=banner] {
  position: relative;
  padding: 0.5% 2.5%; }

.branding {
  display: inline-block; }
  .branding span {
    font-family: "Oswald", sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.05em;
    text-transform: uppercase; }

nav[role=navigation] {
  display: inline-block;
  float: right; }
  nav[role=navigation] a {
    font-family: "Oswald", sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none; }

.site__title {
  font-size: 5em;
  color: #fff;
  line-height: 1.1em; }

.title--page {
  font-size: 3.75em;
  margin-bottom: 20px; }

.tagline {
  margin-top: 10%;
  padding: 0 7.5%; }
  .tagline p {
    font-family: "PT Serif", serif;
    font-size: 1.875em;
    font-style: italic;
    font-weight: 400;
    color: #fff; }

.tagline--page {
  margin-top: 40px;
  padding: 0 7.5%; }

.search--home {
  margin-top: 50px;
  margin-bottom: 10%;
  padding: 0 7.5%; }

.search--page {
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 0 7.5%; }

.search__wrap {
  position: relative;
  background-color: #fff;
  border: 5px solid #fff; }
  .search__wrap input[type=text] {
    font-family: "PT Serif", serif;
    font-size: 2.125em;
    font-style: italic;
    font-weight: 400;
    color: #c4c4c4;
    padding: 10px 20px;
    width: 85%;
    border: none;
    outline: none; }
  .search__wrap .button__big {
    position: absolute;
    right: 0;
    top: 0; }

.search__tags {
  margin-top: 15px; }
  .search__tags a {
    position: relative;
    font-family: "Oswald", sans-serif;
    font-size: 1.375em;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 2px; }
    .search__tags a:after {
      content: ','; }
    .search__tags a:last-child:after {
      content: ',';
      display: none; }

.selling-points {
  padding: 5%; }

.point {
  padding: 0 1.5%; }
  .point h2 {
    position: relative;
    font-size: 1.75em;
    color: #3d4045;
    text-transform: none; }
  .point p {
    line-height: 1.6em; }

.point__1 h2:after,
.point__2 h2:after,
.point__3 h2:after {
  color: #8fcb1b;
  position: absolute;
  left: -25px;
  top: -0px;
  font-size: 0.65em;
  text-align: center;
  padding: 3px 0 0; }

.point__1 h2:after {
  content: '01'; }

.point__2 h2:after {
  content: '02'; }

.point__3 h2:after {
  content: '03'; }

.upcoming-tickets,
.sports-cards {
  background-color: #e4ddd7;
  padding: 2.5% 5%;
  text-align: center; }
  .upcoming-tickets h2,
  .sports-cards h2 {
    color: #8a8480;
    line-height: 1.3em;
    margin-bottom: 40px; }
    .upcoming-tickets h2 span,
    .sports-cards h2 span {
      font-family: "PT Serif", serif;
      font-size: 0.875em;
      font-style: italic;
      text-transform: lowercase !important;
      display: block; }
    .upcoming-tickets h2 b,
    .sports-cards h2 b {
      font-size: 1.375em; }

.ticket {
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: 940px;
  margin: 0 auto 10px;
  padding: 30px 0; }
  .ticket time {
    position: absolute;
    left: -25px;
    background-color: #8a8480;
    display: inline-block;
    width: 95px;
    padding: 10px; }
    .ticket time b {
      display: block;
      font-family: "PT Serif", serif;
      font-size: 1.875em;
      font-weight: 700;
      color: #fff;
      line-height: 1.0em;
      text-transform: uppercase; }
    .ticket time span {
      display: inline-block;
      font-family: "PT Serif", serif;
      font-size: 1.125em;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase; }

.sports-cards {
  padding: 2.5% 10%; }
  .sports-cards h2 {
    margin-bottom: 10px; }

.filters {
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: 490px;
  margin: 0 auto 50px;
  padding: 12px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }
  .filters:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 20px;
    background-color: #d3d3d3;
    width: 70px;
    height: 2px;
    margin-top: -1px; }
  .filters:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    background-color: #d3d3d3;
    width: 70px;
    height: 2px;
    margin-top: -1px; }

.filter--sport {
  background-color: #e4ddd7;
  border: 3px solid #3d4045;
  display: inline-block;
  width: 64px;
  height: 64px;
  font-family: "Oswald", sans-serif;
  font-size: 1.5625em;
  font-weight: 700;
  color: #3d4045;
  text-align: center;
  text-decoration: none;
  margin: 0 2.5px;
  padding-top: 11px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -o-border-radius: 32px;
  border-radius: 32px; }

.all {
  border: 3px solid #3d4045;
  color: #3d4045;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .all:hover, .all:focus {
    background-color: #3d4045;
    color: #fff; }

.mlb {
  border: 3px solid #bb7417;
  color: #bb7417;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .mlb:hover, .mlb:focus {
    background-color: #bb7417;
    color: #fff; }

.nfl {
  border: 3px solid #9b380d;
  color: #9b380d;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .nfl:hover, .nfl:focus {
    background-color: #9b380d;
    color: #fff; }

.nhl {
  border: 3px solid #333333;
  color: #333333;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .nhl:hover, .nhl:focus {
    background-color: #333333;
    color: #fff; }

.all.selected {
  background-color: #3d4045;
  color: #fff; }

.mlb.selected {
  background-color: #bb7417;
  color: #fff; }

.nfl.selected {
  background-color: #9b380d;
  color: #fff; }

.nhl.selected {
  background-color: #333333;
  color: #fff; }

.card {
  position: relative;
  background-color: #fff;
  padding: 20px 30px 0;
  margin-bottom: 70px !important; }
  .card figure {
    width: 100%;
    margin-bottom: 20px; }
    .card figure img {
      max-width: 100%; }

.card__title {
  font-family: "PT Serif", serif;
  font-size: 1.125em;
  color: #252525;
  text-transform: uppercase; }

.card__price {
  font-family: "PT Serif", serif;
  font-size: 1.125em;
  color: #96918d;
  text-transform: uppercase;
  margin: 10px 0 20px; }

.card__action {
  margin-bottom: -18px; }

.tag--mlb:before {
  content: 'MLB';
  position: absolute;
  top: -20px;
  left: 10px;
  width: 40px;
  height: 40px;
  background-color: #bb7417;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding-top: 9px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }

.tag--nfl:before {
  content: 'NFL';
  position: absolute;
  top: -20px;
  left: 10px;
  width: 40px;
  height: 40px;
  background-color: #9b380d;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding-top: 9px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }

.tag--nhl:before {
  content: 'NHL';
  position: absolute;
  top: -20px;
  left: 10px;
  width: 40px;
  height: 40px;
  background-color: #333333;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding-top: 9px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }

.fade {
  opacity: 0;
  position: relative;
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.month:after {
  content: '';
  display: inline-block;
  background-color: #e4ddd7;
  width: 1px;
  height: 13px;
  margin-left: 5px; }

.ticket__details {
  width: 65%;
  display: inline-block;
  text-align: left; }
  .ticket__details h3 {
    font-family: "PT Serif", serif;
    font-size: 1.625em; }

.ticket__location {
  font-family: "PT Serif", serif;
  font-size: 1.125em;
  color: #8a8480;
  margin-bottom: 15px; }

.ticket__action {
  display: inline-block;
  position: absolute;
  right: 20px; }
  .ticket__action .button {
    display: block;
    margin-bottom: 10px; }

.ticket__meta p {
  display: inline-block;
  font-family: "PT Serif", serif;
  font-size: 1.125em;
  font-weight: 700;
  margin-right: 30px; }
  .ticket__meta p i {
    font-style: italic;
    font-weight: 400; }

.view-all {
  position: relative;
  display: inline-block;
  font-family: "PT Serif", serif;
  font-size: 1.625em;
  font-style: italic;
  color: #8a8480;
  text-decoration: none;
  margin-top: 20px; }
  .view-all:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    border-bottom: 5px solid #8a8480; }

.buy__cta {
  height: 660px;
  background-image: url(../img/nostalgia.jpg);
  background-size: cover; }

.cta__minor {
  font-family: "PT Serif", serif;
  font-size: 1.75em;
  font-style: italic;
  color: #fff; }

.cta__quote {
  font-family: "Oswald", sans-serif;
  font-size: 3.625em;
  color: #fff;
  line-height: 1.2em;
  text-transform: uppercase; }

.cta__wrap {
  text-align: right;
  padding: 100px 7.5%; }
  .cta__wrap cite {
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: 1.75em;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .cta__wrap .button__big {
    display: inline-block; }

footer {
  background-color: #3d4045;
  padding: 60px 7.5%; }
  footer .copyright {
    float: right;
    font-family: "Oswald", sans-serif;
    font-size: 1.375em;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none; }

/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/
/*! ==========================================================================
// Media Queries
// =========================================================================*/
/*! ==========================================================================
// Helper classes
// =========================================================================*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

/*! Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
// For best results, use your favorite clearfix here.
// -------------------------------------------------------------- */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

/*! ==========================================================================
// Print styles
// =========================================================================*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
