@import "resets.scss";
@import "mixins.scss";
@import "layout.scss";
@import "theme.scss";

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
.hero{
	padding: 1.5% 0;
	background-image: url(../img/hero-bg.jpg);
	background-size: cover;
	// background-attachment: fixed;
}

header[role=banner]{
	position: relative;
	padding: 0.5% 2.5%;
}
.branding{
	display: inline-block;
	span{
		font-family: $headline;
		font-size: em(20px,$font-size);
		font-weight: 400;
		color: #fff;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
}
nav[role=navigation]{
	display: inline-block;
	float: right;
	a{
		font-family: $headline;
		font-size: em(20px,$font-size);
		font-weight: 400;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
	}
}
.site__title{
	font-size: em(80px, $font-size);
	color: #fff;
	line-height: 1.1em;
}
.title--page{
	font-size: em(60px, $font-size);
	margin-bottom: 20px;
}
.tagline{
	margin-top: 10%;
	padding: 0 7.5%;
	p{
		font-family: $body;
		font-size: em(30px, $font-size);
		font-style: italic;
		font-weight: 400;
		color: #fff;
	}
}
.tagline--page{
	margin-top: 40px;
	padding: 0 7.5%;
}
.search--home{
	margin-top: 50px;
	margin-bottom: 10%;
	padding: 0 7.5%;
}
.search--page{
	margin-top: 0px;
	margin-bottom: 40px;
	padding: 0 7.5%;
}
.search__wrap{
	position: relative;
	background-color: #fff;
	border: 5px solid #fff;
	input[type=text]{
		font-family: $body;
		font-size: em(34px, $font-size);
		font-style: italic;
		font-weight: 400;
		color: #c4c4c4;
		padding: 10px 20px;
		width: 85%;
		border: none;
		outline: none;
	}
	.button__big{
		position: absolute;
		right: 0;
		top: 0;
	}
}
.search__tags{
	margin-top: 15px;
	a{
		position: relative;
		font-family: $headline;
		font-size: em(22px,$font-size);
		font-weight: 400;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		margin-right: 2px;
		&:after{
			content: ',';
		}
		&:last-child:after{
			content: ',';
			display: none;
		}
	}
}
.selling-points{
	padding: 5%;
}
.point{
	padding: 0 1.5%;
	h2{
		position: relative;
		font-size: em(28px,$font-size);
		color: $primary;
		text-transform: none;
	}
	p{
		line-height: 1.6em;
	}
}
.point__1,
.point__2,
.point__3{
	h2{
		&:after{
			// width: 40px;
			// height: 40px;
			// background-color: #fff;
			color: $secondary;
			// border: 3px solid $primary;
			position: absolute;
			left: -25px;
			top: -0px;
			font-size: 0.65em;
			text-align: center;
			padding: 3px 0 0;
			// @include prefix(border-radius, 20px);
		}
	}
}
.point__1{
	h2{
		&:after{
			content: '01';
		}
	}
	
}
.point__2{
	h2{
		&:after{
			content: '02';
		}
	}
}
.point__3{
	h2{
		&:after{
			content: '03';
		}
	}
}
.upcoming-tickets{
	background-color: $tertiary;
	padding: 2.5% 5%;
	text-align: center;
	h2{
		color: $darkTertiary;
		line-height: 1.3em;
		margin-bottom: 40px;
		span{
			font-family: $body;
			font-size: em(14px,$font-size);
			font-style: italic;
			text-transform: lowercase !important; 
			display: block;
		}
		b{
			font-size: em(22px,$font-size);
		}
	}
}
.ticket{
	position: relative;
	background-color: #fff;
	width: 100%;
	max-width: 940px;
	margin: 0 auto 10px;
	padding: 30px 0;
	time{
		position: absolute;
		left: -25px;
		background-color: $darkTertiary;
		display: inline-block;
		width: 95px;
		padding: 10px;
		b{
			display: block;
			font-family: $body;
			font-size: em(30px,$font-size);
			font-weight: 700;
			color: #fff;
			line-height: 1.0em;
			text-transform: uppercase;

		}
		span{
			display: inline-block;
			font-family: $body;
			font-size: em(18px,$font-size);
			font-weight: 700;
			color: #fff;
			text-transform: uppercase;
		}
	}
}
.fade{
	opacity: 0;
	position: relative;

	-webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:0.7s;
	-moz-animation-duration:0.7s;
	animation-duration:0.7s;

	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.month{
	&:after{
		content: '';
		display: inline-block;
		background-color: $tertiary;
		width: 1px;
		height: 13px;
		margin-left: 5px;
	}
}
.ticket__details{
	width: 65%;
	display: inline-block;
	text-align: left;
	h3{
		font-family: $body;
		font-size: em(26px,$font-size);
	}
}
.ticket__location{
	font-family: $body;
	font-size: em(18px,$font-size);
	color: $darkTertiary;
	margin-bottom: 15px;
}
.ticket__action{
	display: inline-block;
	position: absolute;
	right: 20px;
	.button{
		display: block;
		margin-bottom: 10px;
	}
}
.ticket__meta{
	p{
		display: inline-block;
		font-family: $body;
		font-size: em(18px,$font-size);
		font-weight: 700;
		margin-right: 30px;
		i{
			font-style: italic;
			font-weight: 400;
		}
	}
}
.view-all{
	position: relative;
	display: inline-block;
	font-family: $body;
	font-size: em(26px,$font-size);
	font-style: italic;
	color: $darkTertiary;
	text-decoration: none;
	margin-top: 20px;
	&:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: -5px;
		width: 100%;
		height: 1px;
		border-bottom: 5px solid $darkTertiary;
	}
}

.buy__cta{
	height: 660px;
	background-image: url(../img/nostalgia.jpg);
	background-size: cover;
	// background-attachment: fixed;
}
.cta__minor{
	font-family: $body;
	font-size: em(28px,$font-size);
	font-style: italic;
	color: #fff;
}
.cta__quote{
	font-family: $headline;
	font-size: em(58px,$font-size);
	color: #fff;
	line-height: 1.2em;
	text-transform: uppercase;
}
.cta__wrap{
	text-align: right;
	padding: 100px 7.5%;
	cite{
		display: block;
		font-family: $headline;
		font-size: em(28px,$font-size);
		font-style: normal;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	.button__big{
		display: inline-block;
	}
}


footer{
	background-color: $primary;
	padding: 60px 7.5%;
	.copyright{
		float: right;
		font-family: $headline;
		font-size: em(22px,$font-size);
		font-weight: 400;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
	}
}


/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/



@import "shame.scss";
@import "helpers.scss";